**/_saved_models/*
*data-00000-of-00001*
*index*
*meta*
*saved_models*
data/aihub_data/ko*.bin
data/aihub_data/ko*.tsv
data/aihub_data/ko*bak
data/aihub_data/ko*.npy
data/aihub_data/hanspell/**/*.pyc
data/aihub_data/original_ko
code/statistics/*
code/__pycache__/*
